

.BigContainer{

    background-color: black;
    margin:auto;
    width:80%;
    height:100%;
    color:blanchedalmond

}

.BetContainer{


    height : 100px;
    width:100%;
    /* background-color: black; */
    font-size: 120%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.BetContainer:hover{


    height : 100px;
    width:100%;
    border : solid 1px;
    border-color : blanchedalmond;
    background-color: rgb(17, 17, 17);


}


.BetResultsContainer{

    height:100%;
    width :50%;
    background-color: white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}


.BetInfoContainer{

    height:100%;
    width :45%;
}

.LogoAContainer{
    order: 0; /* default is 0 */

}
.logoBContainer{
    order: 3; /* default is 0 */

}

.LogoAContainer, .logoBContainer{

    height:100%;
    width: 25%;
    background: none;
}

.LogoAContainer img, .LogoBContainer img{

    /* height : 100%; */
    /* width:100%; */

    display: block;
    /* max-width:230px; */
    max-height:100%;
    width: auto;
    height: auto;
}
