

.BigContainer{

    background-color: black;
    margin:auto;
    width:80%;
    height:100%;
    color:blanchedalmond

}

.BetContainer{


    height : 100px;
    width:100%;
    /* background-color: black; */
    font-size: 120%;

}

.BetContainer:hover{


    height : 100px;
    width:100%;
    border-top: darkgrey;
    border-bottom: darkgrey;
    border-width: 1;
    background-color: rgb(17, 17, 17);

}
