

.BigContainer{

    background-color: black;
    margin:auto;
    width:80%;
    height:100%;
    color:blanchedalmond

}

.BetContainer{


    height : 100px;
    width:100%;
    /* background-color: black; */
    font-size: 120%;

}

.BetContainer:hover{


    height : 100px;
    width:100%;
    border : solid 1px;
    border-color : blanchedalmond;
    background-color: rgb(17, 17, 17);
        display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}


.BetResultsContainer{

    height:100%;
    width :75%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;


}


.BetInfoContainer{

    height:100%;
    width :25%;
}

.LogoAContainer, .logoBContainer{
    height:100%;
    width: 25%;
    background: none;
}

.LogoAContainer img, .LogoBContainer img{

    /* height : 100%; */
    /* width:100%; */

    display: block;
    /* max-width:230px; */
    max-height:100%;
    width: auto;
    height: auto;
}
