:root{
    --font-size : 2.3rem;
}

.TeamSelector{
    max-width : 40%;
    flex : auto;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}
.TeamVS{
    max-width : 10%;
    width :10%;
    flex : auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size );

}

.TeamSelectionContainer{
    display: flex;
    justify-content: center;
    flex-direction: row ;
    flex-wrap: nowrap ;

    width : 100%;
}


.PredictionButtonContainer{

    width :600px;
    height :  100px;
    margin-left: auto;
    margin-right: auto;

}

.PredictionButton{

    width : 100%;
    height :  100%;
    font-size : calc( var(--font-size ) * 1.5);
    text-align: center;
    background-color: rgb(165, 165, 165);
    color : rgb(92, 91, 91);
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50% ;
    border-color: rgb(102, 102, 102);
    border : 2px solid;
    cursor : not-allowed;
}

.Active{
    background-color: rgb(172, 27, 27);
    color :rgb(0, 0, 0);
    border-color: rgb(102, 102, 102);
    cursor : pointer;
}

.Active:hover{

    background-color: red;
    transition-duration: 0.5s;

}


.PredictionButton .Text{
    height : 100%;
    /* max-width : 100%; */

    display: flex;
    align-items:center;
    justify-content:center;
}


.ResultsContainer, .LogoContainer,.TeamPlayerContainer{


    width : 100%;
    display: flex;
    justify-content: center;
    flex-direction: row ;
    flex-wrap: nowrap ;
    margin-bottom: 2%;
}



.TeamLogo {

    width : 50%;
    height : 200px;
    text-align: center;
}
.TeamLogo img {

    max-height : 100%;
    max-width : 100%;
    /* width : 50%; */
}


.TeamSelect{
    font-size: var(--font-size );
    background-color: rgba(173, 173, 245, 0.582);
    width: fit-content;
    max-width: 100%;
}

.ResultsContainer{
    margin-top: 3%;
    height: calc( var(--font-size) *3);

}

.ResultsGroup,.TeamPlayers{

    width : 49%;
    height : 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.GroupA, .TeamPlayersA{
    justify-content:right;
}
.GroupB .TeamPlayersB{
    justify-content:left;
}


.TeamPlayersA{
    margin-right: 5%;
}
.TeamPlayersB{
    margin-left: 5%;
}


.TeamPlayer{
    margin : 1%;
    background-color: darkgray;
}



.ResultsGroupSeparation{

    width : 2%;
    min-width : 1%;
    height: 100%;
    background-color: rgb(92, 91, 91);
}

.ResultBar{
    height : 80%;
    background-color: rgb(172, 27, 27);
    width : 0%;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: calc( var(--font-size) *1.5);
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}

.GroupA .ResultBar{
    justify-content:right;
}

.GroupB .ResultBar{
    justify-content:left;
}

.ResultText{
    opacity : 0;
    transition-delay: 1.5s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}