.BigGraphContainer{

    display: flex;
    justify-content: center;
    flex-direction: row ;
    /* flex-wrap: nowrap ; */

}

.GraphContainer{

    flex : auto;

    max-width: 80%;
    min-width: 50%;
    /* height : 500px; */
    height: calc((100vw) * 0.5625);  /* 16/9 */

    max-height : 100vh;
}




