
a{
    text-decoration: none;
}


.Title{

    height: 150px;
    width : 100%;

    font-size: calc(var(--font-size) * 2);
    font-weight: bold;
    display: flex;
    align-items:center;
    justify-content:center;
}

.BigButton{

    height : 200px;
    width : 50%;

    min-height: 150px;
    min-width : 20%;
    font-size: 150px;
    background-color: darkblue;
    border : 3px solid red;
    color : red;
    border-radius: 5%;
    display : flex;
    justify-content: center;
}

.BigButton:hover{

    background-color: red;
    border-color : darkblue;
    color : darkblue;
}

.BigButton .Text{
    max-height : 100%;
    max-width : 100%;
}


.BigButton img{
    max-height : 100%;
    max-width : 100%;
}

